@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <marquee direction="left">
        <h1 class="display-4">Welcome To Movie Application</h1>
    </marquee>
</div>

<div class="container">

    <div class="silder">
        <figure>
            <div class="silde">
                <img src="~/img/Avg.jpg" alt="" style="height: 100%; width:100%;">
            </div>
            <div class="silde">
                <img src="~/img/God.jpg" alt="" style="height: 100%; width: 100%;">
            </div>
            <div class="silde">
                <img src="~/img/Harry.jpg" alt="" style="height: 100%; width: 100%;">
            </div>
            <div class="silde">
                <img src="~/img/Pir.jpg" alt="" style="height: 100%; width: 100%;">
            </div>
            <div class="silde">
                <img src="~/img/spider.jpg" alt="" style="height: 100%; width: 100%;">
            </div>
        </figure>
    </div>

</div>

